{% assign data = site.data[include.data] | default: site[include.data] | default: emptyarray %}
<div class="dw">
  <div class="dw-panel dw-cluster dw-cluster--vertical dw-sm">
    <div class="dw-cluster__segment dw-cluster__segment--col dw-cluster__segment--half">
      {% for photo in data.photos %}
      {% assign loopindex = forloop.index | modulo: 2 %}
      {% if loopindex == 0 %}
      <div class="dw-panel dw-cluster__segment dw-panel--pulse">
        <img src="{{ photo.path }}" class="dw-panel__content" />
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="dw-cluster__segment dw-cluster__segment--col dw-cluster__segment--half">
      {% for photo in data.photos %}
      {% assign loopindex = forloop.index | modulo: 2 %}
      {% if loopindex == 1 %}
      <div class="dw-panel dw-cluster__segment dw-panel--pulse">
        <img src="{{ photo.path }}" class="dw-panel__content" />
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="dw-panel dw-cluster dw-cluster--vertical dw-md">
    <div class="dw-cluster__segment dw-cluster__segment--col dw-cluster__segment--half">
      {% for photo in data.photos %}
      {% assign loopindex = forloop.index | modulo: 3 %}
      {% if loopindex == 0 %}
      <div class="dw-panel dw-cluster__segment dw-panel--pulse">
        <img src="{{ photo.path }}" class="dw-panel__content" />
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="dw-cluster__segment dw-cluster__segment--col dw-cluster__segment--half">
      {% for photo in data.photos %}
      {% assign loopindex = forloop.index | modulo: 3 %}
      {% if loopindex == 1 %}
      <div class="dw-panel dw-cluster__segment dw-panel--pulse">
        <img src="{{ photo.path }}" class="dw-panel__content" />
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="dw-cluster__segment dw-cluster__segment--col dw-cluster__segment--half">
      {% for photo in data.photos %}
      {% assign loopindex = forloop.index | modulo: 3 %}
      {% if loopindex == 2 %}
      <div class="dw-panel dw-cluster__segment dw-panel--pulse">
        <img src="{{ photo.path }}" class="dw-panel__content" />
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="dw-panel dw-cluster dw-cluster--vertical dw-lg">
    <div class="dw-cluster__segment dw-cluster__segment--col dw-cluster__segment--half">
      {% for photo in data.photos %}
      {% assign loopindex = forloop.index | modulo: 4 %}
      {% if loopindex == 0 %}
      <div class="dw-panel dw-cluster__segment dw-panel--pulse">
        <img src="{{ photo.path }}" class="dw-panel__content" />
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="dw-cluster__segment dw-cluster__segment--col dw-cluster__segment--half">
      {% for photo in data.photos %}
      {% assign loopindex = forloop.index | modulo: 4 %}
      {% if loopindex == 1 %}
      <div class="dw-panel dw-cluster__segment dw-panel--pulse">
        <img src="{{ photo.path }}" class="dw-panel__content" />
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="dw-cluster__segment dw-cluster__segment--col dw-cluster__segment--half">
      {% for photo in data.photos %}
      {% assign loopindex = forloop.index | modulo: 4 %}
      {% if loopindex == 2 %}
      <div class="dw-panel dw-cluster__segment dw-panel--pulse">
        <img src="{{ photo.path }}" class="dw-panel__content" />
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="dw-cluster__segment dw-cluster__segment--col dw-cluster__segment--half">
      {% for photo in data.photos %}
      {% assign loopindex = forloop.index | modulo: 4 %}
      {% if loopindex == 3 %}
      <div class="dw-panel dw-cluster__segment dw-panel--pulse">
        <img src="{{ photo.path }}" class="dw-panel__content" />
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<style>
    .dw {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-column-gap: 0;
        -moz-column-gap: 0;
        column-gap: 0;
        position: relative;
    }
    .dw * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .dw__focus-curtain {
        background-color: #000;
        bottom: 0;
        display: none;
        left: 0;
        opacity: 0.75;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 2;
    }
    .dw-panel {
        margin: 0;
        padding: 5px;
    }
    .dw-panel--focus {
        position: relative;
    }
    .dw-panel--focus:hover {
        z-index: 3;
    }
    .dw-panel--focus:hover ~ .dw__focus-curtain {
        display: block;
    }
    .dw-panel--pulse {
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-perspective: 1000;
        perspective: 1000;
        -webkit-transition: -webkit-transform 0.25s ease 0s;
        transition: -webkit-transform 0.25s ease 0s;
        transition: transform 0.25s ease 0s;
        transition: transform 0.25s ease 0s, -webkit-transform 0.25s ease 0s;
    }
    .dw-panel--pulse:hover {
        -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
        transform: scale(1.02);
    }
    .dw-panel__content {
        border-radius: 10px;
        overflow: hidden;
        padding: 20px;
        width: 100%;
    }
    @media (min-width: 768px) {
        .dw-panel {
            -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
            break-inside: avoid;
        }
    }
    .dw-flip {
        -webkit-perspective: 1000;
        perspective: 1000;
    }
    .dw-flip:hover .dw-flip__content {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
    .dw-flip--sm {
        height: 200px;
    }
    .dw-flip--md {
        height: 300px;
    }
    .dw-flip--lg {
        height: 400px;
    }
    .dw-flip__panel {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 10px;
        height: 100%;
        left: 0;
        overflow: visible;
        padding: 20px;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .dw-flip__panel--front {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        z-index: 2;
    }
    .dw-flip__panel--back {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
    .dw-flip__content {
        height: 100%;
        overflow: visible;
        position: relative;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transition: 0.25s;
        transition: 0.25s;
    }
    .dw-cluster {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 0;
    }
    @media (max-width: 430px) {
        .dw-cluster--vertical {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
        }
    }
    .dw-cluster--horizontal {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .dw-cluster__segment {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }
    .dw-cluster__segment--row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    @media (max-width: 430px) {
        .dw-cluster__segment--row {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
        }
    }
    .dw-cluster__segment--col {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    @media (min-width: 430px) {
        .dw-cluster__segment--half {
            -webkit-flex-basis: 50%;
            -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
        }
        .dw-cluster__segment--quart {
            -webkit-flex-basis: 25%;
            -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
        }
    }

    img {
        max-height: 320px;
        object-fit: cover;
    }
    img.dw-panel__content,
    img.dw-flip__panel {
        padding: 0;
    }
    img.dw-flip__panel {
        max-height: 100%;
    }

    .dw-md {
        display: none;
    }
    .dw-lg {
        display: none;
    }
    @media (min-width: 768px) {
        .dw-sm {
            display: none;
        }
        .dw-md {
            display: flex;
        }
    }
    @media (min-width: 1024px) {
        .dw-sm {
            display: none;
        }
        .dw-md {
            display: none;
        }
        .dw-lg {
            display: flex;
        }
    }
</style>
